body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;

    gap: 100px;
}

form {
    border: 3px solid gray;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 20px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > div[id="gender"] {
    flex-direction: row;
    justify-content: space-evenly;
}